.container {
    margin: 0 auto;
    width: 100%;

    .img-header {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;

        .img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }

        .big-title {
            position: absolute;
            font-size: 5rem;
            color: var(--white-color);
            font-weight: 400;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 200px;

                span {
                    font-size: 3rem;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.mid {
    width: 100%;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        width: 1100px;
        padding: 10px auto;
        margin-bottom: 35px;
        font-size: 2.5rem;
        color: #444444;

    }

    p {
        width: 1100px;
        padding: 10px auto;
        font-size: 1.6rem;
        line-height: 3rem;
        color: #676767;
    }
}

.bottom {
    width: 100%;
    display: flex;

    .about-image {

        width: 40%;

        img {
            width: 100%;
        }
    }

    .about-info {
        width: 60%;
        background-color: #333333;
        padding: 100px 66px;
        color: var(--white-color);

        div {
            font-size: 3.4rem;
            margin-bottom: 35px;
        }

        p {
            font-size: 1.6rem;
            padding: 0 0 27px;
            line-height: 3rem;
        }
    }
}