/* ScrollToTopButton.module.css */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--grey);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
}

.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.scroll-to-top-button:hover {
    background-color: var(--primary-color);
}