.footer {
    width: 1330px;
    margin: 0 auto;
    background-color: var(--white-color);

    .footer_box {
        width: 1220px;
        margin: 0 auto;

        .footer-content {
            display: flex;
            justify-content: space-between;

            .footer-content-left {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90px;
                width: 500px;

                pre {
                    color: #5e5e5e;
                    line-height: 2.2rem;
                    margin-top: 3px;
                    font-size: 1.3rem;
                    font-weight: 550;
                    font-family: inherit;
                }
            }

            .footer-content-right {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90px;

                ul {
                    display: flex;

                    li {
                        list-style: none;
                        padding: 10px 10px;

                        a {
                            font-size: 2rem;
                            text-decoration: none;

                            i {
                                color: #5e5e5e;
                                font-size: 2rem;

                                &:hover {
                                    color: var(--primary-color);
                                    opacity: 0.75;
                                    transition: opacity 0.2s ease, color 0.2s ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}