.title {
    font-size: 2.2rem;
    color: #444;
}

.quantity {
    font-size: 1.4rem;
    color: #1c1e21;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-field {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: var(--primary-color);
        background-color: #f0f2f5;
        margin-right: 10px;
        font-size: 2rem;
        font-weight: 500;
    }

    .input {
        padding: 15px;
        flex: 1;
        font-size: 1.5rem;
        outline: none;
        border: none;
        background-color: #f0f2f5;
        border-radius: 10px 0 0 10px;
    }

    .button {
        outline: none;
        border: none;
        background-color: #f0f2f5;
        color: #1c1e21;
        font-size: 2rem;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color);
            background-color: #dddee4;
        }
    }
}

.comments-container {
    margin-top: 50px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-detail {
    margin-left: 0;
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        color: var(--primary-color);
        background-color: #f0f2f5;
        margin-right: 5px;
    }

    &.level-1 {
        margin-left: 40px;
    }

    &.level-2 {
        margin-left: 80px;
    }

    &.level-3 {
        margin-left: 120px;
    }

    &.level-4 {
        margin-left: 160px;
    }
}

.content {
    position: relative;
    background-color: #f0f2f5;
    padding: 8px 12px;
    border-radius: 10px;
    min-width: 220px;
}

.comment-name {
    font-size: 1.3rem;
    color: #050505;
    font-weight: 600;
}

.comment-content {
    font-size: 1.5rem;
    color: #050505;
    font-weight: 400;
}

.button-1 {
    position: absolute;
    top: 60px;
    display: flex;
    width: 100%;

    button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        margin-right: 10px;
        color: #65676B;
        font-weight: 600;
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
            color: var(--primary-color);
        }
    }

    div {
        background-color: transparent;
        color: #65676B;
        font-size: 1.2rem;
    }
}

.likes-count {
    position: absolute;
    right: 0px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px 2px 0px;
    border-radius: 15px;
    background-color: var(--white-color) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.likes-icon {
    color: var(--blue);
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-right: 7px;
}