.container {
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}

.search-box {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    input {
        width: 30%;
        font-size: 1.6rem;
        outline: none;
        border: 1px solid #e9e9e9;
        height: 20px;
        padding: 20px 10px;
        color: var(--primary-admin-color);
    }
}

.user-table {
    width: 100%;
    font-size: 1.6rem;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.user-table tr {
    height: 120px;
}

.user-table thead {
    tr {
        height: 50px;
    }
}

.detail-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--green);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--green);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--green);
        color: var(--white-color);
    }
}

.delete-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--red);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--red);
        color: var(--white-color);
    }
}

.edit-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--yellow);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--yellow);
        color: var(--white-color);
    }
}

.save-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--green);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--green);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--green);
        color: var(--white-color);
    }
}

.cancel-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--grey);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--grey);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--grey);
        color: var(--white-color);
    }
}

.action {
    width: 100px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.pagination button {
    padding: 5px 12px;
    color: var(--primary-admin-color);
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--primary-admin-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.pagination button.active {
    background-color: var(--primary-admin-color);
    color: var(--white-color);
    cursor: default;
}

.column-action {
    width: 205px;
}

.column-name {
    width: 380px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
}

.error-message {
    color: var(--red);
    margin-bottom: 10px;
    height: 15px;
}

/* Loading Animation */
.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid var(--primary-color);
    border-top: 5px solid var(--white-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}