.home_container {}

.home_message {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 20px;
}

.home_preface {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home_preface h1,
.home_preface h3 {
    line-height: 6rem;
}

.home_preface h3 {
    color: #444444;
    font-weight: 400;
    word-spacing: .3rem;

}

.home_preface p {
    font-size: 1.8rem;
    color: #444;
    word-spacing: .3rem;
    width: 68%;
    text-align: center;
}

.home_values_container {
    display: flex;
    justify-content: space-evenly;
}

.home_values {
    line-height: 6.5rem;
}

.home_values h4 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #444;
}

.home_values_icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_values_icon a {
    text-decoration: none;
}

.home_values_icon i {
    font-size: 3.5rem;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.home_values_word {
    line-height: 3.5rem;
    font-size: 1.9rem;
}

.home_values_word div {
    color: #444;
    text-align: left;
    margin-left: 2rem;

}

.home_values_word i {
    color: var(--primary-color);
    padding-right: 1.4rem;
}

/* ----------------------------------- */
.home_portfolio_gallery {
    width: 100%;
}

.home_portfolio_gallery_section {
    width: 100%;
    height: 14.2rem;
    background-color: #ae81f9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        margin-right: 30px;
        padding-right: 30px;
        border-right: 2px solid var(--white-color);
    }

    span {
        cursor: pointer;
        font-size: xx-large;
        font-weight: bolder;
    }
}

/* ---------------------------------------------------- */
.home_review {
    width: 100%;
    height: 59.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_review_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 3.3rem;
}

.home_review_icon i {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid gray;
}

.home_review_slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_review_slide_cmt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1100px;
    line-height: 3rem;
}

.home_review_slide_cmt p {
    color: var(--text-color);
    font-size: 1.8rem;
    width: 90%;
    word-spacing: .3rem;
}

.home_review_slide_cmt h5 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.home_review_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40%;
    margin-bottom: 4rem;
    line-height: 4rem;
    overflow: hidden;
    transform: scale(1);

}

.home_review_btn a {
    background-color: #ae81f9;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    padding: .2rem 5rem;
    overflow: hidden;
    transition: background-color 0.4s ease;
}

.home_review_btn a span {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.home_review_btn a i {
    margin-left: 1rem;
    color: white;
    display: none;
    transition: opacity 0.4s ease;
}

.home_review_btn>a:hover i {
    display: inline-block;
    opacity: 1;
}

.home_review_btn>a:hover {
    background-color: #c6a1ff;
    /* Lighter shade of purple */
    overflow: hidden;
}

//content

.content-container {
    width: 100%;
}

//list item
.items-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-detail {
    width: 25%;
    height: 300px;
    position: relative;
    cursor: pointer;

    &:hover .overlay {
        opacity: 0;
    }

    &:hover .item-name div {
        color: var(--primary-color);
    }

    &:hover .item-image img {
        transform: scale(1.2);
    }

}

.item-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease;
    }
}

.item-name {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
        font-size: 2.5rem;
        color: var(--white-color);
        transition: color 0.5s ease;
    }

}

.item-name1 {
    color: #444444;
    font-size: 1.6rem;
    font-weight: 400;
    transition: color 0.5s ease;
    padding-top: 10px;

    div {
        margin-bottom: 10px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.active1 {
    color: var(--primary-color) !important;
}

//press

.content-container1 {
    width: 100%;
    height: 500px;
    background-color: #333333;


    h1 {
        text-align: center;
        padding: 30px 0;
        color: var(--white-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.items-container1 {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .item-detail {
        width: 33%;
        height: 250px;
        padding: 15px;
        cursor: pointer;

        &:hover .overlay {
            opacity: 0;
        }

        &:hover .item-name div {
            color: var(--primary-color);
        }

        &:hover .item-image img {
            transform: scale(1.2);
        }

        .item-image {
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: transform 0.5s ease;
            }
        }


        .item-name1 {
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 400;
            transition: color 0.5s ease;
            padding-top: 10px;

            div {
                margin-bottom: 10px;
            }
        }
    }
}