.container {
    margin: 0 auto;
    width: 100%;
}


//header
.img-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Điều chỉnh màu sắc và độ trong suốt tại đây */
    z-index: 1;
    /* Đảm bảo lớp overlay nằm phía trên hình ảnh */
}

.big-title {
    position: absolute;
    font-size: 5rem;
    color: var(--white-color);
    font-weight: 500;
    z-index: 2;
    top: -120px;
    left: 0;
    width: 100%;
    height: 100%;

    div {
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
}

//pagination
.pagination {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.pagination button {
    padding: 5px 12px;
    color: var(--primary-admin-color);
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--primary-admin-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.pagination button.active {
    background-color: var(--primary-admin-color);
    color: var(--white-color);
    cursor: default;
}


//content

.content-container {
    max-width: 1100px;
    margin: auto;
}

//filter-bar

.filter-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    color: #999999;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px;

    input {
        width: 25%;
        font-size: 1.6rem;
        outline: none;
        border: 1px solid #e9e9e9;
        height: 20px;
        padding: 20px 10px;
        color: var(--primary-admin-color);
    }

    button {
        border: none;
        outline: none;
        background-color: var(--white-color);
        color: #999999;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 20px;
        transition: color 0.5s ease;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }
}

//list item
.items-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-detail {
    width: 33.333%;
    padding: 15px;
    position: relative;

    &:hover .overlay {
        opacity: 1;
    }

    &:hover .item-button {
        transform: translateY(0);
        opacity: 1;
    }

    &:hover .item-name {
        color: var(--primary-color);
    }

    &:hover .item-image img {
        transform: scale(1.2);
    }

}

.item-image {
    width: 100%;
    height: 200px;
    transition: opacity 0.5s ease;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        transition: transform 0.5s ease;
    }
}

.item-button {
    position: absolute;
    top: 100px;
    left: 35%;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;


    button {
        border: none;
        outline: none;
        color: var(--white-color);
        background-color: var(--primary-color);
        margin: 0 10px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--red);
        }
    }
}

.item-name {
    color: #444444;
    font-size: 1.6rem;
    font-weight: 400;
    transition: color 0.5s ease;
    padding-top: 10px;

    div {
        margin-bottom: 10px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.active1 {
    color: var(--primary-color) !important;
}