.container {
    width: 1000px;
    text-align: center;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table-container {
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    input {
        width: 40%;
        font-size: 1.6rem;
        outline: none;
        border: 1px solid #e9e9e9;
        height: 20px;
        padding: 20px 10px;
        color: var(--primary-admin-color);
    }
}

.user-table {
    width: 100%;
    font-size: 1.6rem;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
    text-align: center;
}

// .user-table tr {
//     height: 120px;
// }

.user-table thead {
    tr {
        height: 50px;
    }
}

.detail-button {
    width: 80px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: var(--green);
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--green);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--green);
        color: var(--white-color);
    }
}

.delete-button {
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    color: var(--grey);
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--red);

    }
}

.checked {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--green);
    color: var(--white-color);
    padding: 2px 0;
    text-align: center;
}

.uncheck {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--red);
    padding: 2px 0;
    text-align: center;
}

.action {
    button {
        width: 100%;
    }
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-count {
    margin-top: 10px;
}

.pagination button {
    padding: 5px 12px;
    color: var(--primary-admin-color);
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--primary-admin-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.pagination button.active {
    background-color: var(--primary-admin-color);
    color: var(--white-color);
    cursor: default;
}

.column-name {
    width: 180px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
}

.error-message {
    color: var(--red);
    margin-bottom: 10px;
    height: 15px;
}

/* Loading Animation */
.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid var(--primary-color);
    border-top: 5px solid var(--white-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.list-content {
    cursor: pointer;

    &:hover {
        background-color: #f0f2f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

//modal
.modal-overlay {
    width: 50%;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;

    div {
        text-align: left;
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 20px;
    }
}