.container {
    margin: 0 auto;
    width: 100%;

    .img-header {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;

        .img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            /* Điều chỉnh màu sắc và độ trong suốt tại đây */
            z-index: 1;
            /* Đảm bảo lớp overlay nằm phía trên hình ảnh */
        }

        .big-title {
            position: absolute;
            font-size: 5rem;
            color: var(--white-color);
            font-weight: 500;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            div {
                display: flex;
                justify-content: center;
                margin-top: 200px;
            }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .Press_box {
        margin: 0 auto;
        width: 1330px;

        .Press {
            width: 1330px;
            margin: 0 auto;

            .Press_content {
                width: 1110px;
                margin: 0 auto;

                .Press_nav {
                    padding-top: 33px;
                    display: flex;
                    justify-content: space-between;

                    p {
                        padding-left: 15px;
                        color: #999999;
                        font-weight: 300;
                    }

                    ul {
                        display: flex;

                        li {
                            padding: 0 15px;
                            list-style: none;

                            a {
                                text-decoration: none;
                                color: #999999;
                            }
                        }
                    }
                }

                .Press_listItems {
                    width: 100%;

                    .Press_listItems_1 {
                        width: 100%;
                        display: flex;

                        .work_box {
                            position: relative;
                            margin-bottom: 15px;
                            overflow: hidden;
                            width: 100%;
                            padding: 15px;

                            .work_item {
                                position: relative;

                                img {
                                    width: 376.28px;
                                    height: 282.19px;
                                    z-index: 1;
                                }
                            }

                            .Press_title {
                                width: 100%;

                                a {
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: var(----black-color);

                                    &:hover {
                                        color: red;
                                    }
                                }
                            }

                            .Press_taken_by {
                                padding-top: 5px;
                                display: flex;

                                ul {
                                    margin-left: -50px;
                                    display: flex;

                                    li {
                                        list-style: none;
                                        padding: 0px 10px;

                                        a {
                                            text-decoration: none;
                                            cursor: pointer;
                                            color: #999999;
                                            font-size: 12px;

                                            &:hover {
                                                color: red;
                                            }
                                        }
                                    }
                                }
                            }

                            .Press_detail {
                                p {
                                    color: #999999;
                                }
                            }
                        }

                        .tittle_name {
                            display: flex;
                            justify-content: space-between;

                            h4 {
                                font-size: 13px;
                                color: #999999;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            i {
                                padding-right: 3px;
                            }
                        }
                    }
                }
            }
        }

        .Press_contact_box {
            background-color: var(--primary-color);
            width: 100%;

            .Press_contact_bg {
                width: 1330px;

                .Press_contact {
                    margin: 0 auto;
                    width: 1220px;

                    .Press_contact_content {
                        width: 567px;
                        height: 199px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .Press_contact_title {
                            p {
                                font-size: 2.7rem;
                                font-weight: 600;
                                color: var(--white-color);
                            }
                        }

                        .PressDetails_box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;

                            .PressDetails_plan {
                                width: 224px;
                                border: 2px solid var(--white-color);
                                border-radius: 5px;

                                p {
                                    border-radius: 5px;
                                    width: 220px;
                                    height: 50px;
                                    background-color: var(--primary-color);
                                    display: flex;
                                    text-align: center;
                                    align-items: center;
                                    justify-content: center;

                                    a {
                                        font-size: 1.3rem;
                                        display: flex;
                                        text-decoration: none;
                                        color: var(--white-color);

                                        i {
                                            opacity: 0;
                                        }

                                        &:hover>i {
                                            padding-top: 5px;
                                            opacity: 1;
                                            transform: translateX(8px);
                                            transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                transform 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
                                        }

                                        &:hover>span {
                                            transform: translateX(-8px);
                                            transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                transform 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),
                                                box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}